@page
@model UMLRazor.Pages.Orders.CreateOrderModel
@{
    ViewData["Title"] = "Create Order";
}

<h3>Select Customer</h3>
<form method="post" asp-page-handler="Customer"><p>
    Mobile : <input type="text>" asp-for="SearchCustomerMobile" />
    <input type="submit" value="Search customer" />
</p></form>

<h3><span class="text-danger">@Model.MessageCustomer</span></h3>

@{
    if (@Model.TheCustomer != null)
    {
        <p>
        Navn: @Model.TheCustomer.Name
        <br />
        Adresse: @Model.TheCustomer.Address
        <br />
        Mobil: @Model.TheCustomer.Mobile
        </p>
        
    }
}

<h3>Add to Order</h3>
<form method="post" asp-page-handler="AddToOrder">
    <label>MenuItems</label>
    <select id="ChosenMenuItem" name="ChosenMenuItem"
    asp-for="@Model.ChosenMenuItem" asp-items="@Model.MenuItemSelectList">
    </select>

    <input type="number" asp-for="@Model.Amount" />
    <textarea asp-for="@Model.Comment" cols="120">
    </textarea>
    <input type="submit" value="AddToOrder" />
</form>

<h3>Shopping Basket</h3>
@{
    if (Model.OrderLines != null && Model.OrderLines.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Subtotal</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderLines)
                {
                    <tr>
                        <td>@item.MenuItem.Name</td>
                        <td>@item.Amount</td>
                        <td>@item.SubTotal()</td>
                        <td>@item.Comment</td>
                        <td>
                            <form method="post" asp-page-handler="Delete">
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

<form method="radio">
    <input type="radio" asp-for="Delivery" value="True"/> Delivery
    <br />
    <input type="radio" asp-for="Delivery" value="False"/> Eat here
</form>

<h3><span class="text-danger">@Model.MessageOrder</span></h3>

<form method="post" asp-page-handler="CreateOrder">
    <p>
        <input type="submit" value="Create Order" />
    </p>
</form>
