@page
@model UMLRazor.Pages.Orders.CreateOrderModel
@{
    ViewData["Title"] = "Create Order";
}

<h1>Select Customer</h1>
<form method="post" asp-page-handler="Customer"><p>
    Mobile : <input type="text>" asp-for="SearchCustomerMobile" />
    <input type="submit" value="Search customer" />
</p></form>

@{
    if (@Model.TheCustomer != null)
    {
        <p>
        Navn: @Model.TheCustomer.Name
        <br />
        Adresse: @Model.TheCustomer.Address
        <br />
        Mobil: @Model.TheCustomer.Mobile
        </p>
        
    }
}

<h1>Add MenuItem to Order</h1>
<form method="post" asp-page-handler="AddToOrder">
    <label>MenuItems</label>
    <select id="ChosenMenuItem" name="ChosenMenuItem"
    asp-for="@Model.ChosenMenuItem" asp-items="@Model.MenuItemSelectList">
    </select>

    <input type="number" asp-for="@Model.Amount" />
    <textarea asp-for="@Model.Comment" cols="120">
    </textarea>
    <input type="submit" value="AddToOrder" />
</form>

@{
    if (Model.OrderLines != null && Model.OrderLines.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderLines)
                {
                    <tr>
                        <td>@item.MenuItem.Name</td>
                        <td>@item.Amount</td>
                        <td>@item.SubTotal()</td>
                        <td>@item.Comment</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
