@page
@model UMLRazor.Pages.Customers.EditCustomerModel
@{
    ViewData["Title"] = "Edit Customer";
}
<h1>Edit Customer</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address" class="control-label"></label>
                <input asp-for="@Model.Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.newMobile" class="control-label"></label>
                <input asp-for="@Model.newMobile" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ClubMember" class="control-label"></label>
                <input type="checkbox" name="ChooseClub" value="true"></input>
            </div>
            <div class="formgroup">
                <input type="submit" value="Edit Customer" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-page="ShowCustomers">Back to List</a>
    </div>
</div>